ol li {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: lavenderblush;
}

ol li p {
  margin: 5px;
  padding: 5px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: pink;
}

.carosel {
  max-width: 300px;
  height: 400px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  height: 400px;
  background-color: lavenderblush;
  margin: 5px;
  padding: 5px;
  border-color: pink;
  border-width: 2px;
  border-radius: 5px;
}

#addFlight {
  display: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;

  border-color: pink;
  background-color: lavenderblush;
}

/* navigation bar */

.navigation {
  display: flex;
  background-color: pink;
  /* border-radius: 5px; */
  flex-wrap: wrap;
  padding: 2px;
}

.nav-button-container {
  flex-grow: 1;
  background-color: lavenderblush;
  justify-content: space-around;
  /* border-radius: 5px; */
  margin: 2px;
  align-items: center;
}

.nav-button {
  height: 100%;
  width: 100%;
  border-style: none;
  background-color: transparent;
  padding: 20px;
}
